@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.btn-primary:hover {
  color: white;
  background-color: #286090;
  border-color: #204d74;
}